In [ ]:
# CÓDIGO BASEADO NO TUTORIAL
# https://www.youtube.com/watch?v=7eh4d6sabA0

In [67]:
# abaixo o classificapor por árvore de decisão
from sklearn.tree import DecisionTreeClassifier

# abaixo o módulo para "treinar", para fazer um split do
# dataset, uma parte para treino e outra para teste
from sklearn.model_selection import train_test_split

# abaixo o módulo para computar a precisão do modelo
from sklearn.metrics import accuracy_score

import pandas as pd
import matplotlib.pyplot as plt

dataset = "music.csv"
df = pd.read_csv(dataset)
df.shape

(18, 3)

In [68]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [69]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [78]:
# input - o que o sistema vai receber. No caso o sistema vai receber idade e
# genero como input. Por isso damos um drop justamente na coluna 'genre', que
# queremos 'prever' depois.

# por convenção o que temos como Input fica com variável MAIÚSCULA
X = df.drop(columns=['genre'])

# output - o que o sistema vai devolver como tentativa de previsão,
# nesse caso só a coluna 'genre'

# por convenção o que temos como output fica com variável minúscula
y = df['genre']

# a função abaixo vai escolher os conjuntos de dados que queremos usar para
# treinar e para testes. Nesse caso, no test_size colocamos 0.2, 20%
# ! ENQUANTO MAIS DADOS LIMPOS DADOS LIMPOS DAMOS AO MODELO, MELHOR
# ! O MODELO VAI TENTAR APRENDER CONFORME O QUE HÁ DISPONÍVEL DE DADOS
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [80]:
# Sklearn é atualmente o método mais popular de análise, abaixo é o modo de 
# previsão
model = DecisionTreeClassifier()

# abaixo ele vai "aprender" os padrões na informação 
# model.fit(X,y)

# mas como queremos treinar primeiro, ao invés de colocar (X,y), colocamos
model.fit(X_train,y_train)

# abaixo colocamos o input do que queremos prever:
# ele deve incluir arrays de 2 dimensões,
# abaixo ele vai tentar prever o que alguém de 21 anos [21,], masculino [,1]
# e depois alguém de 22 anos [22,], feminina [,0] vai querer escutar
## predictions = model.predict([[21,1],[22,0]])

predictions = model.predict(X_test)

# abaixo colocamos a função para dar uma "score" de 0 a 100 %
# entre os testes e as predições. O y_test são os valores esperados
# e predictions 
score = accuracy_score(y_test, predictions)
score

1.0